{% if product.available %}
  {% if product.stock > 0 %}
    <div class="addcart" id="variants">
      {% if product.has_variation %}
        <a href="{{ product.link }}"><input type="button" class="addCart" value="carrinho"/></a>
      {% else %}
        <label for="card-button" ><img src="{{ asset('img/cart.svg') }}" alt="carrinho"></label>
        <input  id="card-button" type="button" class="addCart" value="carrinho" onclick="addCart({{ product.id }})" />
      {% endif %}
    </div>
  {% else %}
    <span> Produto não Disponivel</span>
  {% endif %}
{% else %}
  <span> Produto não Disponivel</span>
{% endif %}